# .npmrc
# Esto fuerza a pnpm a crear una estructura de node_modules plana (estilo npm/yarn)
# Es vital para que React Native CLI encuentre los headers nativos.
node-linker=hoisted

# Opcional: Si prefieres symlinks pero quieres compatibilidad máxima
# shamefully-hoist=true
registry=https://registry.npmjs.org/
@nativefy:registry=http://localhost:4873/
@nativefy-adapter:registry=http://localhost:4873/
